@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('../fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family : 'Arial';
    src: url('../fonts/Arial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$backGreen: #B0C687;
$backPink: #F28AEF;
$backYellow: #F3D28B;

@mixin backGreen {
    background-color: $backGreen;
    margin: 20px;
    display: flex;
}

@mixin backPink {
    background-color: $backPink;
    margin: 20px;
    display: flex;
}

@mixin backYellow {
    background-color: $backYellow;
    margin: 20px;
    display: flex;
}

body {
    font-family: Arial;
}

h2 {
    font-family: 'OpenDyslexic-Regular';
    text-align: center;
}

a {
    text-decoration: none;
    color: black;    
}

/******** header.php ***********/
.logo {
    @include backGreen;
    flex-direction: column;
    text-align: center;

    .realLogo {
        text-align: center;
        align-items: center;
        width: 150px;
        height: 150px;
        margin: auto;
        padding: 10px;
    }  
}

.fullQuote {
    margin: 2%;
}
#quote {
    font-size: 1.2rem;
}
.audio {
    align-self: flex-end;
    margin-top: auto;
    bottom: 20px;
    right: 20px;
}
/******** menu.php **********/
.menu {
    @include backPink;
    text-align: center;
    flex-direction: column;
    
    ul {
        display: flex;
        gap: 50px;
        list-style: none;
    }
}
#burger {
    display: block;
    margin: 0 auto;
    font-size: 2.5rem;
}
#nav-menu {
    display: none; 
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px 0;

        &.open {
        display: flex; 
        }
    }

/********** welcome.php *************/
.sophro {
    @include backYellow;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.rb {
    width: 200px;
    height: 250px;
    margin: 10px 50px;
    
}
.sophro-content {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}
.buttonSophro { 
    background-color: $backPink;
    border: 1px solid;
    padding: 5px 10px;
    font-size: medium;
    display: block;
    align-self: center;
    margin-bottom: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.formSophro {
    width:100%;
}
/******* service.php ***********/
.services {
    @include backGreen;
    padding: 5px;
    flex-direction: column;
}
.presta {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}
.buttonService {
    background-color: $backYellow;
    border: 1px solid;
    padding: 5px 10px;
    font-size: medium;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/*********** post.php ****************/
.blog {
    @include backPink;
    flex-direction: column;
    padding: 20px;
}
.displayPost .post:not(:first-child) {
    display: none;
    }
.post {
    border: 1px solid;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: auto;
    margin: 15px;

    a:hover {
    color: black;
    }
}

/************** footer.php ***************/
.footer {
    @include backPink;
    align-items: center;
    justify-content: space-evenly;
}
#pint {
    font-size: 1.5rem;
    margin: 10px;
}
.copy {
    margin: 10px;
}
/***************** contact.php *****************/
.contact {
    @include backPink;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/********* prestation.php ***********/
.prestation {
    @include backYellow;
    flex-direction: column;
    text-align: center;
}
.offer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly; 
    align-items: center;   
}
.individuals {
    background-color: white;
    border-radius: 8px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin: 20px;
    flex: 1;
}

.cote {
    width: 250px;
    height: 200px;
    display: none;
}

/***************** testimony.php ****************/
.testimony {
    @include backGreen;
    flex-direction: column;
}

/******************** authentification.php ************************/
.auth {
    @include backGreen;
    flex-direction: column;
}
.form {
    text-align: center;
    margin:20px;
}
.button {
    background-color: $backYellow;
    margin-top: 8px;
    border: 1px solid;
}
/************* individual.php-entreprise.php ***********/
.frame {
    @include backYellow;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.sea {
    width: 250px;
    height: 200px;
    padding: 20px;
}
.innerFrame {
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    
}
.innerFrame2 {
    margin: 0 20px;
}

/********************* confidentiality.php ********************/
#confidentiality {
    @include backGreen;
    padding: 8px;
}

/***************** personalSpace.php ************/
.perso {
    @include backYellow;
    flex-direction: column;
}
/************** page404.php *****************/
.oops {
    @include backYellow;
}

/********************* media queries *********************/

@media screen and (min-width : 768px) {

a:hover {
    color: white;
}    
/***********header.php ************/
    .logo {
        flex-direction: row;
    }
    .fullQuote {
        font-size: 1rem;;
    }
    .realLogo {
        flex-direction: row;
        text-align: left;
    }

/****************** menu.php ******************/
    .menu {
        display: flex;
        flex-direction: row;
        margin: 20px;        
        text-align: center;
        position: relative;

        ul {
            display: flex;
            flex-direction: row;
            gap: 70px;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            li {                
                display:inline;                 
                list-style-type: none;
                margin: 8px;
            }
        }
    }

    #burger {
        display: none; 
        margin: 0 auto;
    }

    #nav-menu {
        display: block; 
        align-items: center;
    }
    
/********* welcome.php *************/
    .sophro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sophro-top {
        flex-direction: column;
    }
    
    .sophro {
        display: flex;
        flex-direction: column;
    }

/****************** post.php *****************/
    .displayPost{
    display: flex;
    }
    .displayPost .post:not(:first-child) {
    display: block;
    }
/*********** prestation.php *****************/
    .cote {
        display: block;
    }
    .offer {
        flex-direction: row;
    }
}