@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url('../fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family : 'Arial';
    src: url('../fonts/Arial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial;
}

h2 {
    font-family: 'OpenDyslexic-Regular';
}

/******** header.php ***********/
.logo {
    background-color: #B0C687;
    display: flex;
    flex-direction: row;
    margin: 20px;

    img {
        width: 150px;
        height: 150px;
        margin: 10px 100px;
    }
}
.fullQuote {
    margin: 2%;
}
#quote {
    font-size: 1.2rem;
}
.audio {
    align-self: flex-end;
    margin-top: auto;
    bottom: 20px;
    right: 20px;
}
/******** menu.php **********/
.menu {
    background-color: #F28AEF;
    margin: 20px;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        gap: 50px;

        li {
        display:inline; 
        list-style-type: none;
        }
    }
    a {
        text-decoration: none;
        color: black;    
    }
    a:hover {
        color: white;        
    }
}


/********** welcome.php *************/
.sophro {
    background-color: #F3D28B;
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.rb {
    width: 200px;
    height: 250px;
    margin: 10px 50px;
}
.sophro-content {

    flex-direction: column;
    align-items: center;
}
.buttonSophro { 
    background-color: #F28AEF;
    border: 1px solid;
    padding: 5px 10px;
    font-size: medium;
    display: inline-block;
    align-self: center;
    margin-bottom: 20px;
    margin-left: 250px;

}
.formSophro {
    width:100%;
}
/******* service.php ***********/
.services {
    background-color: #B0C687;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }
}
.buttonService {
    background-color: #F3D28B;
    border: 1px solid;
    padding: 5px 10px;
    font-size: medium;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/*********** post.php ****************/
.blog {
    background-color: #F28AEF;
    margin: 20px;
    padding: 20px;
    h2 {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: black;
    }    
}
.displayPost{
    display: flex;
}
.post {
    border: 1px solid;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    margin: 15px;
}

/************** footer.php ***************/
.footer {
    background-color: #F3D28B;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

/***************** contact.php *****************/
.contact {
    background-color: #F28AEF;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/********* prestation.php ***********/
.prestation {
    background-color: #F3D28B;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.individuals {
    background-color: white;
    border-radius: 8px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
    margin: 20px;
}

.cote {
    width: 250px;
    height: 200px;
}

/***************** testimony.php ****************/
.testimony {
    background-color: #B0C687;
    margin: 20px;

    h2 {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: black;
    }    
}

/******************** authentification.php ************************/
.auth {
    background-color: #B0C687;
    margin: 20px;
}

/************* individual.php-entreprise.php ***********/
.frame {
    background-color: #F3D28B;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.sea {
    width: 250px;
    height: 200px;
    padding: 20px;
}
.innerFrame {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.innerFrame2 {
    margin: 0 20px;
}

/********************* media queries *********************/

@media (max-width : 768px) {
    .sophro-top {
        flex-direction: column;
        text-align: center;
    }
}